{% load static %}

<!-- templates/components/topbar.html -->
<!-- BEGIN: Top Bar -->
<div class="relative z-[51] flex h-[67px] items-center border-b border-slate-200">
  <!-- BEGIN: Breadcrumb -->
  <nav aria-label="breadcrumb" class="flex -intro-x mr-auto hidden sm:flex">
    <ol class="flex items-center text-theme-1 dark:text-slate-300">
      <li class="">
        <a href="index.html">Xeventure</a>
      </li>
      <li
        class="relative ml-5 pl-0.5 before:content-[''] before:w-[14px] before:h-[14px] before:bg-chevron-black before:transform before:rotate-[-90deg] before:bg-[length:100%] before:-ml-[1.125rem] before:absolute before:my-auto before:inset-y-0 dark:before:bg-chevron-white text-slate-800 cursor-text dark:text-slate-400">
        <a href="index.html">Dashboard</a>
      </li>
    </ol>
  </nav>
  <!-- END: Breadcrumb -->

  <!-- BEGIN: Search -->
  <!-- <div class="search intro-x relative mr-3 sm:mr-6">
      <div class="relative hidden sm:block">
        <input data-tw-merge="" type="text" placeholder="Search..."
          class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent ease-in-out text-sm placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-opacity-40 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 w-56 rounded-full border-transparent bg-slate-300/50 pr-8 shadow-none transition-[width] duration-300 focus:w-72 focus:border-transparent dark:bg-darkmode-400/70" />
        <i data-tw-merge="" data-lucide="search"
          class="stroke-1.5 w-5 h-5 absolute inset-y-0 right-0 my-auto mr-3 text-slate-600 dark:text-slate-500"></i>
      </div>
      <a class="relative text-slate-600 sm:hidden" href="#">
        <i data-tw-merge="" data-lucide="search" class="stroke-1.5 w-5 h-5 dark:text-slate-500"></i>
      </a>
    </div> -->
  <!-- END: Search -->

  <!-- BEGIN: Notifications -->
  <div data-tw-merge="" data-tw-placement="bottom-end" class="dropdown relative intro-x mr-auto sm:mr-6">
    <div data-tw-toggle="dropdown" aria-expanded="false"
      class="cursor-pointer relative block text-slate-600 outline-none before:absolute before:right-0 before:top-[-2px] before:h-[8px] before:w-[8px] before:rounded-full before:bg-danger before:content-['']">
      <i data-tw-merge="" data-lucide="bell" class="stroke-1.5 w-5 h-5 dark:text-slate-500"></i>
    </div>
    <div data-transition="" data-selector=".show" data-enter="transition-all ease-linear duration-150"
      data-enter-from="absolute !mt-5 invisible opacity-0 translate-y-1"
      data-enter-to="!mt-1 visible opacity-100 translate-y-0" data-leave="transition-all ease-linear duration-150"
      data-leave-from="!mt-1 visible opacity-100 translate-y-0"
      data-leave-to="absolute !mt-5 invisible opacity-0 translate-y-1" class="dropdown-menu absolute z-[9999] hidden">
      <div data-tw-merge=""
        class="dropdown-content rounded-md border-transparent bg-white shadow-[0px_3px_10px_#00000017] dark:border-transparent dark:bg-darkmode-600 mt-2 w-[280px] p-5 sm:w-[350px]">
        <!-- Notification content here -->
      </div>
    </div>
  </div>
  <!-- END: Notifications -->

  <!-- BEGIN: Account Menu -->
  <div data-tw-merge="" data-tw-placement="bottom-end" class="dropdown relative">
    <button data-tw-toggle="dropdown" aria-expanded="false"
      class="cursor-pointer image-fit zoom-in intro-x block h-8 w-8 overflow-hidden rounded-full shadow-lg">
      <img src="{{ request.user.profile.image.url }}" alt="Profile" class="img-thumbnail rounded-circle" />
    </button>
    <div data-transition="" data-selector=".show" data-enter="transition-all ease-linear duration-150"
      data-enter-from="absolute !mt-5 invisible opacity-0 translate-y-1"
      data-enter-to="!mt-1 visible opacity-100 translate-y-0" data-leave="transition-all ease-linear duration-150"
      data-leave-from="!mt-1 visible opacity-100 translate-y-0"
      data-leave-to="absolute !mt-5 invisible opacity-0 translate-y-1" class="dropdown-menu absolute z-[9999] hidden">
      <div data-tw-merge=""
        class="dropdown-content rounded-md border-transparent p-2 shadow-[0px_3px_10px_#00000017] dark:border-transparent dark:bg-darkmode-600 mt-px w-56 bg-theme-1 text-white">
        <div class="p-2 font-medium font-normal">
          <div class="font-medium">{{ request.user.get_full_name }}</div>
          <div class="mt-0.5 text-xs text-white/70 dark:text-slate-500">
            {{ request.user.profile.position|default:"Employee" }}
          </div>
        </div>
        <div class="h-px my-2 -mx-2 bg-slate-200/60 dark:bg-darkmode-400 bg-white/[0.08]"></div>
        <a href="{% url 'profile' user.id %}"
          class="cursor-pointer flex items-center p-2 transition duration-300 ease-in-out rounded-md hover:bg-slate-200/60 dark:bg-darkmode-600 dark:hover:bg-darkmode-400 dropdown-item hover:bg-white/5">
          <i data-tw-merge="" data-lucide="user" class="stroke-1.5 mr-2 h-4 w-4"></i>
          Profile
        </a>

        <a href="{% url 'passwordchange' %}"
          class="cursor-pointer flex items-center p-2 transition duration-300 ease-in-out rounded-md hover:bg-slate-200/60 dark:bg-darkmode-600 dark:hover:bg-darkmode-400 dropdown-item hover:bg-white/5">
          <i data-tw-merge="" data-lucide="lock" class="stroke-1.5 mr-2 h-4 w-4"></i>
          Reset Password
        </a>
        <div class="h-px my-2 -mx-2 bg-slate-200/60 dark:bg-darkmode-400 bg-white/[0.08]"></div>
        <a href="{% url 'logout' %}"
          class="cursor-pointer flex items-center p-2 transition duration-300 ease-in-out rounded-md hover:bg-slate-200/60 dark:bg-darkmode-600 dark:hover:bg-darkmode-400 dropdown-item hover:bg-white/5">
          <i data-tw-merge="" data-lucide="toggle-right" class="stroke-1.5 mr-2 h-4 w-4"></i>
          Logout
        </a>
      </div>
    </div>
  </div>
  <!-- END: Account Menu -->
</div>
<!-- END: Top Bar -->